@model IEnumerable<matchManager.Models.Match>
@{
    ViewBag.Title = "MatchesForTeams";
    Layout = "~/Views/Shared/_matchManagementLayout.cshtml";
}

@foreach (var item in Model)
{
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <h2>Trận đấu</h2>
        </li>
    </ol>
    break;
}
<p>
    <button class="btn btn-default" onclick="location.href=('@Url.Action("Create", "Matches")')">Tạo mới</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Round)
        </th>

        <th>
            Đội nhà
        </th>

        <th>
            Đội khách
        </th>

        <th>
            Sân vận động
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Round)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Team.FullName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Team1.FullName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Stadium.FullName)
            </td>

            <td>
                <button class="btn btn-default" onclick="location.href=('@Url.Action("Edit", "Matches",new { id = item.Id})')">Edit</button>
                <button class="btn btn-default" onclick="location.href=('@Url.Action("Details", "Matches",new { id = item.Id})')">Details</button>
                <button class="btn btn-default" onclick="location.href=('@Url.Action("Delete", "Matches",new { id = item.Id})')">Delete</button>
            </td>
        </tr>
    }

</table>

